@page
@model EMS.Pages.GeneratingStations.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>GeneratingStation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GeneratingStation.GeneratingStationName" class="control-label"></label>
                <input asp-for="GeneratingStation.GeneratingStationName" class="form-control" />
                <span asp-validation-for="GeneratingStation.GeneratingStationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneratingStation.InstalledCapacity" class="control-label"></label>
                <input asp-for="GeneratingStation.InstalledCapacity" class="form-control" />
                <span asp-validation-for="GeneratingStation.InstalledCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneratingStation.MVARCapacity" class="control-label"></label>
                <input asp-for="GeneratingStation.MVARCapacity" class="form-control" />
                <span asp-validation-for="GeneratingStation.MVARCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedGeneratingStationClassificationId" class="control-label"></label>
                <select asp-for="SelectedGeneratingStationClassificationId" asp-items="Model.GeneratingStationClassificationList" class="form-control">
                    <option value="">-- Select Generating Station Classification --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SelectedGeneratingStationTypeId" class="control-label"></label>
                <select asp-for="SelectedGeneratingStationTypeId" asp-items="Model.GeneratingStationTypeList" class="form-control">
                    <option value="">-- Select Generating Station Type --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SelectedFuelId" class="control-label"></label>
                <select asp-for="SelectedFuelId" asp-items="Model.FuelList" class="form-control">
                    <option value="">-- Select Fuel Type --</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
