@page
@model EMS.Pages.GeneratingUnits.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>GeneratingUnit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GeneratingUnit.ElementId" class="control-label"></label>
                <select asp-for="GeneratingUnit.ElementId" class ="form-control" asp-items="ViewBag.ElementId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GeneratingUnit.GeneratingUnitName" class="control-label"></label>
                <input asp-for="GeneratingUnit.GeneratingUnitName" class="form-control" />
                <span asp-validation-for="GeneratingUnit.GeneratingUnitName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneratingUnit.GeneratingStationId" class="control-label"></label>
                <select asp-for="GeneratingUnit.GeneratingStationId" class ="form-control" asp-items="ViewBag.GeneratingStationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GeneratingUnit.InstalledCapacity" class="control-label"></label>
                <input asp-for="GeneratingUnit.InstalledCapacity" class="form-control" />
                <span asp-validation-for="GeneratingUnit.InstalledCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneratingUnit.VoltageId" class="control-label"></label>
                <select asp-for="GeneratingUnit.VoltageId" class ="form-control" asp-items="ViewBag.VoltageId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GeneratingUnit.GeneratingTransformerHVVoltageId" class="control-label"></label>
                <select asp-for="GeneratingUnit.GeneratingTransformerHVVoltageId" class ="form-control" asp-items="ViewBag.GeneratingTransformerHVVoltageId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
