@page
@model EMS.Pages.Transformers.CreateModel


@{
   ViewData["Title"] = "Create";
}


<h1>Create</h1>


<h4>Transformer</h4>
<hr />
<div class="row">
   <div class="col-md-4">
       <form method="post">
           <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <div class="form-group">
               <label asp-for="Transformer.ElementId" class="control-label"></label>
               <select asp-for="Transformer.ElementId" class ="form-control" asp-items="ViewBag.ElementId"></select>
           </div>
           <div class="form-group">
               <label asp-for="Transformer.TransformerName" class="control-label"></label>
               <input asp-for="Transformer.TransformerName" class="form-control" />
               <span asp-validation-for="Transformer.TransformerName" class="text-danger"></span>
           </div>
           <div class="form-group">
               <label asp-for="Transformer.TransformerTypeEnum" class="control-label">Transformer Type</label>
               <select asp-for="Transformer.TransformerTypeEnum" class="form-control" asp-items="ViewBag.TransformerType"></select>
           </div>
           <div class="form-group">
               <label asp-for="Transformer.Voltage1Id" class="control-label"></label>
               <select asp-for="Transformer.Voltage1Id" class ="form-control" asp-items="ViewBag.Voltage1Id"></select>
           </div>
           <div class="form-group">
               <label asp-for="Transformer.Voltage2Id" class="control-label"></label>
               <select asp-for="Transformer.Voltage2Id" class ="form-control" asp-items="ViewBag.Voltage2Id"></select>
           </div>
           @* <div class="form-group">
               <label asp-for="Transformer.LocationId" class="control-label"></label>
               <select asp-for="Transformer.LocationId" class ="form-control" asp-items="ViewBag.LocationId"></select>
           </div> *@
           <div class="form-group">
               <label asp-for="Transformer.MVACapacity" class="control-label"></label>
               <input asp-for="Transformer.MVACapacity" class="form-control" />
               <span asp-validation-for="Transformer.MVACapacity" class="text-danger"></span>
           </div>
           <div class="form-group">
               <label asp-for="Element.Substation1Id" class="control-label"></label>
               <select asp-for="Element.Substation1Id" class ="form-control" asp-items="ViewBag.Substation1Id"></select>
           </div>
           <div class="form-group">
               <label asp-for="Element.LocationId" class="control-label">Location</label>
               <select asp-for="Element.LocationId" class ="form-control" asp-items="ViewBag.LocationId"></select>
           </div>
           <div class="form-group">
               <input type="submit" value="Create" class="btn btn-primary" />
           </div>
       </form>
   </div>
</div>


<div>
   <a asp-page="Index">Back to List</a>
</div>


@section Scripts {
   @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
