@page
@model EMS.Pages.SVCs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SVC</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SVC.SVCId" />
            <div class="form-group">
                <label asp-for="SVC.ElementId" class="control-label"></label>
                <select asp-for="SVC.ElementId" class="form-control" asp-items="ViewBag.ElementId"></select>
                <span asp-validation-for="SVC.ElementId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SVC.BusId" class="control-label"></label>
                <select asp-for="SVC.BusId" class="form-control" asp-items="ViewBag.BusId"></select>
                <span asp-validation-for="SVC.BusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SVC.SVCName" class="control-label"></label>
                <input asp-for="SVC.SVCName" class="form-control" />
                <span asp-validation-for="SVC.SVCName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SVC.SVCNumber" class="control-label"></label>
                <input asp-for="SVC.SVCNumber" class="form-control" />
                <span asp-validation-for="SVC.SVCNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
