@page
@model EMS.Pages.Lines.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Line</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Line.LineType" class="control-label">Line Type</label>
                <select asp-for="Line.LineType" class="form-control" asp-items="ViewBag.LineType"></select>
            </div>
            <div class="form-group">
                <label asp-for="Line.FromBusId" class="control-label">From Bus</label>
                <select asp-for="Line.FromBusId" class="form-control" asp-items="ViewBag.FromBusId"></select>
                <span asp-validation-for="Line.FromBusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Line.ToBusId" class="control-label">To Bus</label>
                <select asp-for="Line.ToBusId" class="form-control" asp-items="ViewBag.ToBusId"></select>
                <span asp-validation-for="Line.ToBusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Line.VoltageId" class="control-label">Voltage</label>
                <select asp-for="Line.VoltageId" class="form-control" asp-items="ViewBag.VoltageId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Line.CircuitNumber" class="control-label">Circuit Number</label>
                <input asp-for="Line.CircuitNumber" class="form-control" />
                <span asp-validation-for="Line.CircuitNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Line.LineName" class="control-label">Line Name</label>
                <input asp-for="Line.LineName" class="form-control" />
                <span asp-validation-for="Line.LineName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Line.Length" class="control-label">Length</label>
                <input asp-for="Line.Length" class="form-control" />
                <span asp-validation-for="Line.Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Line.ConductorType" class="control-label">Conductor Type</label>
                <input asp-for="Line.ConductorType" class="form-control" />
                <span asp-validation-for="Line.ConductorType" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Line.AutoReclosure" /> @Html.DisplayNameFor(model => model.Line.AutoReclosure)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Line.LineCircuitName" class="control-label">Line Circuit Name</label>
                <input asp-for="Line.LineCircuitName" class="form-control" />
                <span asp-validation-for="Line.LineCircuitName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Line.SendingEndSPS" /> @Html.DisplayNameFor(model => model.Line.SendingEndSPS)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Line.ReceivingEndSPS" /> @Html.DisplayNameFor(model => model.Line.ReceivingEndSPS)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Line.FirstChargingDate" class="control-label">First Charging Date</label>
                <input asp-for="Line.FirstChargingDate" class="form-control" type="date" />
                <span asp-validation-for="Line.FirstChargingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Element.ElementNumber" class="control-label">Element Number</label>
                <input asp-for="Element.ElementNumber" class="form-control" />
                <span asp-validation-for="Element.ElementNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Element.CommissioningDate" class="control-label">Commissioning Date</label>
                <input asp-for="Element.CommissioningDate" class="form-control" type="date" />
                <span asp-validation-for="Element.CommissioningDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Element.DecommissioningDate" class="control-label">DeCommissioning Date</label>
                <input asp-for="Element.DecommissioningDate" class="form-control" type="date" />
                <span asp-validation-for="Element.DecommissioningDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Element.LocationId" class="control-label">Location</label>
                <select asp-for="Element.LocationId" class="form-control" asp-items="ViewBag.Locations"></select>
            </div>
            <div class="form-group">
                <label asp-for="Element.Substation1Id" class="control-label">Substation 1 Name</label>
                <select asp-for="Element.Substation1Id" class="form-control" asp-items="ViewBag.Substation1Id"></select>
                <span asp-validation-for="Element.Substation1Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Element.Substation2Id" class="control-label">Substation 2 Name</label>
                <select asp-for="Element.Substation2Id" class="form-control" asp-items="ViewBag.Substation2Id"></select>
                <span asp-validation-for="Element.Substation2Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Element.ElementOwners" class="control-label">Owners</label>
                <select name="Owners" asp-for="Element.ElementOwners" class="form-control" asp-items="ViewBag.Owners" multiple></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
