@page
@model EMS.Pages.HVDCPoles.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HVDCPole</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="HVDCPole.PoleType" class="control-label"></label>
                <select asp-for="HVDCPole.PoleType" class="form-control" asp-items="ViewBag.PoleType" ></select>
                <span asp-validation-for="HVDCPole.PoleType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HVDCPole.VoltageId" class="control-label"></label>
                <select asp-for="HVDCPole.VoltageId" class ="form-control" asp-items="ViewBag.VoltageId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Element.Substation1Id" class="control-label"></label>
                <select asp-for="Element.Substation1Id" class="form-control" asp-items="ViewBag.Substation1Id"></select>
            </div>

            <div class="form-group">
                <label asp-for="Element.ElementOwners" class="control-label"></label>
                <select name="Owners" asp-for="Element.ElementOwners" class="form-control" asp-items="ViewBag.Owners" multiple></select>
            </div>
            <div class="form-group">
                <label asp-for="HVDCPole.PoleName" class="control-label"></label>
                <input asp-for="HVDCPole.PoleName" class="form-control" />
                <span asp-validation-for="HVDCPole.PoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Element.CommissioningDate" class="control-label"></label>
                <input asp-for="Element.CommissioningDate" class="form-control" type="date" />
                <span asp-validation-for="Element.CommissioningDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Element.DecommissioningDate" class="control-label"></label>
                <input asp-for="Element.DecommissioningDate" class="form-control" type="date" />
                <span asp-validation-for="Element.DecommissioningDate" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="Element.LocationId" class="control-label">Location</label>
                <select asp-for="Element.LocationId" class="form-control" asp-items="ViewBag.Locations"></select>
            </div>
            <div class="form-group">
                <label asp-for="HVDCPole.PoleNumber" class="control-label"></label>
                <input asp-for="HVDCPole.PoleNumber" class="form-control" />
                <span asp-validation-for="HVDCPole.PoleNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HVDCPole.MaxFiringAngle" class="control-label"></label>
                <input asp-for="HVDCPole.MaxFiringAngle" class="form-control" />
                <span asp-validation-for="HVDCPole.MaxFiringAngle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HVDCPole.MinFiringAngle" class="control-label"></label>
                <input asp-for="HVDCPole.MinFiringAngle" class="form-control" />
                <span asp-validation-for="HVDCPole.MinFiringAngle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
