@page
@model EMS.Pages.SubFilterBanks.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SubFilterBank</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Element.ElementNumber" class="control-label">SubFilterBank Number</label>
                <input asp-for="Element.ElementNumber" class="form-control" />
                <span asp-validation-for="Element.ElementNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Element.CommissioningDate" class="control-label">Commissioning Date</label>
                <input asp-for="Element.CommissioningDate" class="form-control" />
                <span asp-validation-for="Element.CommissioningDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Element.DecommissioningDate" class="control-label">De-Commissioning Date</label>
                <input asp-for="Element.DecommissioningDate" class="form-control" />
                <span asp-validation-for="Element.DecommissioningDate" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="SubFilterBank.ElementId" class="control-label"></label>
                <select asp-for="SubFilterBank.ElementId" class ="form-control" asp-items="ViewBag.ElementId"></select>
            </div> *@
            <div class="form-group">
                <label asp-for="SubFilterBank.FilterBankId" class="control-label">Filter Bank Name</label>
                <select asp-for="SubFilterBank.FilterBankId" class ="form-control" asp-items="ViewBag.FilterBankId"></select>
            </div>
            <div class="form-group">
               <label asp-for="Element.Substation1Id" class="control-label">Substation 1 </label>
               <select asp-for="Element.Substation1Id" class ="form-control" asp-items="ViewBag.Substation1Id"></select>
           </div>
            <div class="form-group">
               <label asp-for="Element.LocationId" class="control-label">Location</label>
               <select asp-for="Element.LocationId" class ="form-control" asp-items="ViewBag.LocationId"></select>
           </div>
           <div class="form-group">
                <label asp-for="Element.ElementOwners" class="control-label">Owners</label>
                <select name = "Owners" asp-for="Element.ElementOwners" class="form-control" asp-items="ViewBag.Owners" multiple></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
