@page
@model EMS.Pages.Buses.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Bus.BusId" />
            <div class="form-group">
                <label asp-for="Bus.ElementId" class="control-label"></label>
                <select asp-for="Bus.ElementId" class="form-control" asp-items="ViewBag.ElementId"></select>
                <span asp-validation-for="Bus.ElementId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bus.SubstationId" class="control-label"></label>
                <select asp-for="Bus.SubstationId" class="form-control" asp-items="ViewBag.SubstationId"></select>
                <span asp-validation-for="Bus.SubstationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bus.BusType" class="control-label"></label>
                <input asp-for="Bus.BusType" class="form-control" />
                <span asp-validation-for="Bus.BusType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
